{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">

    {% block title%} 
    <title>Title</title>
    {% endblock title%}
    
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css'%}">

    <!-- Bootstrap + Dorang main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/dorang.css'%}">
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">
    
    <!-- page navbar -->
    <nav class="page-navbar" data-spy="affix" data-offset-top="10">
        <ul class="nav-navbar container">
            <li class="nav-item"><a href="{% url 'year'%}" class="nav-link">Home</a></li>
            
        
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">logout</a></li>
            
        </ul>
    </nav><!-- end of page navbar -->

    <div class="theme-selector">
        <a href="javascript:void(0)" class="spinner">
            <i class="ti-paint-bucket"></i>
        </a>
        <div class="body">
            <a href="javascript:void(0)" class="light"></a>
            <a href="javascript:void(0)" class="dark"></a>
        </div>
    </div>  

   {% block contact %}

   {% endblock contact %}
    
    <!--footer & pre footer -->
    <div class="contact-section">
        <div class="overlay"></div>
        <!-- container -->
       

            <!-- footer -->
            <footer class="footer">
                <p class="infos">&copy; <script>document.write(new Date().getFullYear())</script>, Made by <a href="https://www.linkedin.com/in/eslam-qadri-a414861a3/">Eng Eslam Qadri</a></p>       
               
            </footer><!-- end of footer -->

        </div><!-- end of container -->
    </div><!-- end of pre footer -->

    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js'%}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js'%}"></script>

    <!-- bootstrap affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js'%}"></script>

    <!-- Dorang js -->
    <script src="{% static 'assets/js/dorang.js'%}"></script>
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
</body>
</html>
