{% extends 'base.html' %}
{% block title%} 
<title> Dr Bassma Abdelslam   </title>
{% endblock title%}
{% block contact %}
  <!-- Page Header -->
  <header class="header">
    <div class="overlay"></div>
    <div class="header-content">
       
     {% for course in course_list %}
     
     
     <h1 class="header-title" > <a href="{% url 'lecture' pk=course.pk %}">{{course.name}}</a></h1>
     {% empty %}
     <h1 class="header-title" > You Do not have any course contact with course provider  </h1>

     {% endfor %}
    </div>
  </header><!-- End of Page Header -->
{% endblock contact %}
