
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دكتور بسمه كورسات صيدلة</title>
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
</head>
<script>
    videojs('my-player', {
        controls: true,
        autoplay: false,
        preload: 'auto'
      });
</script>
<body>
    <h1>Video Player</h1>
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster=""
    data-setup="{
        'controls': true,
        'autoplay': false,
        'preload': 'auto'}"
  >
    <source src="{{ l.video.url }}" type="video/mp4" />


   
  </video>
  <video controls width="640" height="360">
    {% if l.video %}
        {% if l.video.url %}
            <source src="{{ l.video.url }}" type="video/x-matroska">
            <p>Video URL: {{ l.video.url }}</p>  <!-- Debugging output -->
        {% else %}
            <p>No video URL available</p>
        {% endif %}
    {% else %}
        <p>No video file uploaded</p>
    {% endif %}
    Your browser does not support the video tag.
</video>
<script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
</body>
</html>
