{% extends 'base.html' %}

{% block title%} 
<title> Dr Bassma Abdelslam   </title>

{% endblock title%}
   
{% block contact %}
  <!-- Page Header -->
  <header class="header">
    <div class="overlay"></div>
    <div class="container">
      <div class="header-content" id="video-v">
       
        <h1 class="header-title">{{ lesson.number }}</h1>
        <h1 class="header-title">{{ lesson.title }}</h1>
        <p>{{ lesson.description }}</p>
        
        <!-- Assuming lesson.video is a file path relative to the media directory -->
       
        
        <video
        id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="360"
       
        data-setup='{"playbackRates": [1, 1.5, 2] }'
      >
        <source src="{{ lesson.video.url }}" type="video/mp4" />
       
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p>
      </video>
    </div>
    </div>
  </header><!-- End of Page Header -->
 
{% endblock contact %}
