{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/stylecss.css'%}">
  <title> Dr Bassma Abdelslam   </title>
</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="{% static 'images/illustration.png'%}" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="USERNAME" name ="username" />
                    <input type="password" placeholder="PASSWORD" name ="password"/>
                    <button class="opacity">Login</button>
                </form>
                <div class="contact-form-box">
                    <form class="active" action="https://formspree.io/f/myyleorq" method="POST" id="dreamit-form">
                      <div class="row">
                        <div class="col-lg-6 col-md-6">
                          <div class="form-box">
                            <input type="text" name="name" placeholder="اسمك*" required="" />
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="form-box">
                            <input type="text" name="email" placeholder="بريدك الإلكتروني*" required="" />
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="form-box">
                            <select name="service" class="custom-select-contact" required="">
                              <option value="" disabled selected>اختر الخدمة*</option>
                              <option value="service1">تجميل الوجه</option>
                              <option value="service2">حقن الفيلر</option>
                              <option value="service3">شد الوجه</option>
                              <option value="service4">التقشير الكيميائي</option>
                              <option value="service5">إزالة الشعر بالليزر</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="form-box">
                            <input type="text" name="subject" placeholder="رقم الهاتف" required="" />
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-box">
                            <textarea name="massage" id="massage" placeholder="اكتب رسالتك" required=""></textarea>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                          <div class="header-button mt-1 text-right">
                            <a href="appointment.html">
                              أرسل الآن
                              <i class="bi bi-arrow-return-left"></i>
                              <div class="mediic-hover-btn hover-btn"></div>
                              <div class="mediic-hover-btn hover-btn2"></div>
                              <div class="mediic-hover-btn hover-btn3"></div>
                              <div class="mediic-hover-btn hover-btn4"></div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>
<!-- partial -->
  <!-- <script  src="{% static 'js/scriptjs.js'%}"></script> -->

</body>
</html>